<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
   <p>Here are the available categories:</p>

    <ul>

        <% categories.forEach(category => { %>

            <li>

                <a href="/category/<%= category.category_id %>">

                    <%= category.name %>

                </a>

            </li>

        <% }); %>

    

    </ul>

    <% categories.forEach(category => { %>

    <li>
        <%= category.name %>

        <a href="/category/<%= category.category_id %>">View</a>
        
    </li>

<% }) %>

<% if (user && user.role_name === 'admin') { %>
    <a href="/new-category">Add New Category</a>
<% } %>

</main>

<%- include('partials/footer') %>