<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2>Dashboard</h2>
    <p>Name: <%= name %></p>
    <p>Username: <%= email %></p>

    <% if (user && user.role_name === 'admin') { %>

<p>
    <a href="/users">Manage Users</a>
</p>

<% } %>

<h2>My Volunteering</h2>

<% projects.forEach(project => { %>
    <div>
        <h3><%= project.title %></h3>
        <a href="/project/<%= project.project_id %>/unvolunteer">
            Remove
        </a>
    </div>
<% }) %>

</main>

<%- include('partials/footer') %>