<%- include('partials/header') %>

<h1><%= title %></h1>

<form method="POST" action="/edit-category/<%= category.category_id %>">

    <label>Category Name</label>
    <input
        type="text"
        name="name"
        value="<%= category.name %>"
        required
        maxlength="100"
    >

    <button type="submit">Update Category</button>
</form>

<%- include('partials/footer') %>