<%- include('partials/header') %>

<main>
    <h1><%= project.title %></h1>

    <p>
        <strong>Description:</strong>
        <%= project.description %>
    </p>

    <p>
        <strong>Date:</strong>
        <%= project.date %>
    </p>

    <p>
        <strong>Location:</strong>
        <%= project.location %>
    </p>

    <p>
        <strong>Partner Organization:</strong>

        <a href="/organization/<%= project.organization_id %>">
            <%= project.organization_name %>
        </a>
    </p>
    <a href="/project/<%= project.project_id %>/assign-categories">
    Edit Categories
</a>

<% if (user && user.role_name === 'admin') { %>
    <a href="/new-project">Add New Service Project</a>
<% } %>

</main>

<%- include('partials/footer') %>